body {
    background-color: #f4f6f8;
}

.app-wrapper {
    font-family: Roboto;
}

.dashboard-header-bar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dashboard-wrapper {
    background-color: #f4f6f8;
    padding-left: 10px;
    padding-right: 10px;
}

/* plugin TODO */

table.pivot * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

/* temporary workaround for headerbar */
.secondary-light-bg {
    background-color: #48a999;
}







.menu-item {
    padding: 10px 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border: none;
    border-right: 1px solid #ececec;
    color: #286090;
    font-size: 14px;
    font-weight: bolder;
    height: 40px;
}
.menu-item-wrapper.active {
    color:red;
}
.menu-item.active {
    color:red;
    background: #edf3fc;
}


.menu-item:hover {
    color: #fff;
    background: #2c6693;
}


.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}


.scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.scroll-menu-arrow--disabled {
    visibility: hidden;
}
.navbar-horizontal{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.dashboard-menu{
    height: 40px;
    min-height: 40px;
    margin-left: 15px;
    margin-right: 1px;
    background-color: #fff;

}
.menu-wrapper {
    border: 1px solid #e7e7e7;
    height: 40px;
    text-align: center;
}










.item-selector-container.jsx-3712983878 {
    box-sizing:border-box;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    font-family:Roboto,sans-serif;
}
.section.jsx-3712983878 {
    border:1px solid #E0E0E0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    height:510px;
    position:relative;
}
.unselected.jsx-3712983878 {
    margin-right:55px;
    width:418px;
}
.selected.jsx-3712983878 {
    width:276px;
}



.highlighted-text.jsx-10974763 {
    color:#FFFFFF;
}
.item.jsx-10974763 {
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    border-radius:4px;
    cursor:pointer;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    padding:3px;
}
.unselected-item.jsx-10974763:hover {
    background-color:#e0e0e0;
}
.highlighted-item.jsx-10974763 {
    background-color:#004C40;
}
.item-label.jsx-10974763 {
    font-size: 14px;
    padding: 2px 5px 2px 2px;
}


@media print {
    .MuiDialog-root {
        position: absolute !important;
    }
}
.MuiDialog-scrollPaper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.MuiDialog-scrollBody {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.MuiDialog-scrollBody:after {
    width: 0;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.MuiDialog-container {
    height: 100%;
    outline: 0;
}
@media print {
    .MuiDialog-container {
        height: auto;
    }
}
.MuiDialog-paper {
    margin: 32px;
    position: relative;
    overflow-y: auto;
}
@media print {
    .MuiDialog-paper {
        box-shadow: none;
        overflow-y: visible;
    }
}
.MuiDialog-paperScrollPaper {
    display: flex;
    max-height: calc(100% - 64px);
    flex-direction: column;
}
.MuiDialog-paperScrollBody {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.MuiDialog-paperWidthFalse {
    max-width: calc(100% - 64px);
}
.MuiDialog-paperWidthXs {
    max-width: 444px;
}
@media (max-width:507.95px) {
    .MuiDialog-paperWidthXs.MuiDialog-paperScrollBody {
        max-width: calc(100% - 64px);
    }
}
.MuiDialog-paperWidthSm {
    flex: 0 1 400px;
    width: 400px;
    max-width: 400px;
}
@media (max-width:663.95px) {
    .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
        max-width: calc(100% - 64px);
    }
}
.MuiDialog-paperWidthMd {
    flex: 0 1 600px;
    width: 600px;
    max-width: 600px;
}
@media (max-width:1023.95px) {
    .MuiDialog-paperWidthMd.MuiDialog-paperScrollBody {
        max-width: calc(100% - 64px);
    }
}
.MuiDialog-paperWidthLg {
    flex: 0 1 800px;
    width: 800px;
    max-width: 800px;
}
@media (max-width:1343.95px) {
    .MuiDialog-paperWidthLg.MuiDialog-paperScrollBody {
        max-width: calc(100% - 64px);
    }
}
.MuiDialog-paperWidthXl {
    max-width: 1920px;
}
@media (max-width:1983.95px) {
    .MuiDialog-paperWidthXl.MuiDialog-paperScrollBody {
        max-width: calc(100% - 64px);
    }
}
.MuiDialog-paperFullWidth {
    width: calc(100% - 64px);
}
.MuiDialog-paperFullScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    max-height: none;
    border-radius: 0;
}
.MuiDialog-paperFullScreen.MuiDialog-paperScrollBody {
    margin: 0;
    max-width: 100%;
}



.unselected-list-container.jsx-2016409548 {
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    overflow-y:auto;
}
.unselected-list.jsx-2016409548 {
    border-bottom:0px;
    list-style:none;
    margin:0px;
    padding-left:0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.unselected-list-item.jsx-2016409548 {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:2px;
}
.select-all-button.jsx-2016409548 {
    display:block;
    margin:0 auto;
    padding:5px;
}
.select-highlighted-button.jsx-2016409548 {
    left:426px;
    position:absolute;
    top:230px;
}



.selected-list.jsx-1406043597 {
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    list-style:none;
    margin:0 6px;
    overflow-y:auto;
    padding-left:0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.selected-list-item.jsx-1406043597 {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:2px;
}
.selected-list-item.jsx-1406043597:focus {
    outline:none;
}
.subtitle-container.jsx-1406043597 {
    border-bottom:1px solid #E0E0E0;
    height:42px;
}
.subtitle-text.jsx-1406043597 {
    color:undefined;
    height:20px;
    font-family:Roboto;
    font-size:15px;
    font-weight:500;
    left:8px;
    position:relative;
    top:12px;
}
.info-container.jsx-1406043597 {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    margin:8px;
    padding:8px;
    background-color:#e8edf2;
    border-radius:4px;
}
.info-text.jsx-1406043597 {
    padding-left:6px;
    color:#4a5768;
    font-size:12px;
    line-height:17px;
}
.info-icon.jsx-1406043597 {
    font-size:16px;
    color:#4a5768;
}
.deselect-all-button.jsx-1406043597 {
    display:block;
    margin:0 auto;
    padding:5px;
}
.deselect-highlighted-button.jsx-1406043597 {
    left:-48px;
    position:absolute;
    top:291px;
}


.selected-item.jsx-3936984414 {
    background-color:#b2dfdb;
}
.selected-item.jsx-3936984414:hover {
    background-color:#86c4bf;
}
.highlighted-item.jsx-3936984414 {
    background-color:#004C40;
}
.inactive-item.jsx-3936984414 {
    opacity:0.3;
}
.item-label.jsx-3936984414 {
    font-size:14px;
    padding:2px;
}




.highlighted-text.jsx-3936984414 {
    color:#FFFFFF;
}
.icon.jsx-3936984414 {
    background-color:#00796B;
}
.item.jsx-3936984414 {
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    border-radius:4px;
    cursor:pointer;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    padding:3px;
}
.ghost.jsx-3936984414 {
    opacity:0.2;
    -webkit-transition:opacity 0.2s ease;
    transition:opacity 0.2s ease;
}
.selected-item.jsx-3936984414 {
    background-color:#b2dfdb;
}
.selected-item.jsx-3936984414:hover {
    background-color:#86c4bf;
}
.highlighted-item.jsx-3936984414 {
    background-color:#004C40;
}
.inactive-item.jsx-3936984414 {
    opacity:0.3;
}
.item-label.jsx-3936984414 {
    font-size:14px;
    padding:2px;
}
